@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Comfortaa;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header__container {
    width: 100%;
    background-color: #00a6ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header___logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
}

.header__menu {
    display: flex;
    gap: 50px;
    list-style: none;
}

.header__menu li a {
    font-size: 24px;
    line-height: 120%;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.cards__container {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    width: 300px;
    height: 200px;
    background-color: #000000;
    cursor: pointer;
    position: relative;
}

.card__img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.5s;
    position: absolute;
}

.card__text {
    position: absolute;
    inset: 0;
    color: #ff0000;
    font-style: 18px;
    font-weight: 700;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s, transform 0.5s;
}

.card__img,
.card__text {
    transition: transform 0.5s;
}

.card:hover .card__img,
.card:hover .card__text {
    transform: translate(-30px, -30px);
}

.card:hover .card__text {
    opacity: 1;
}

.block {
    width: 800px;
    border: 3px solid #000000;
    border-radius: 20px;
    margin: 100px auto;
}

.block__title {
    font-size: 64px;
    line-height: 120%;
    font-weight: 600;
    color: #000000;
    text-align: center;
    margin-top: 20px;
}

.block__text {
    font-size: 24px;
    line-height: 100%;
    font-weight: 300;
    text-align: justify;
    margin: 30px;
}

.block__img {
    width: 100%;
    height: 70vh;
}

.block__img img {
    width: 100%;
    height: 100%;
}

.box__cursor {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: stretch;
    border-radius: 20px;
    background-color: #282a2e;
}

.btn__cursor {
    width: 200px;
    height: 100px;
    background-color: #ffd829;
    margin: 1%;
    border: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    color: #00a124;
    text-transform: uppercase;
    padding: 1%;
}

.auto {
    cursor: auto;
}

.default {
    cursor: default;
}

.none {
    cursor: none;
}

.pointer {
    cursor: pointer;
}

.text {
    cursor: text;
}

.context-menu {
    cursor: context-menu;
}

.help {
    cursor: help;
}

.progress {
    cursor: progress;
}

.wait {
    cursor: wait;
}

.cell {
    cursor: cell;
}

.crosshair {
    cursor: crosshair;
}

.vertical-text {
    cursor: vertical-text;
}

.alias {
    cursor: alias;
}

.copy {
    cursor: copy;
}

.move {
    cursor: move;
}

.no-drop {
    cursor: no-drop;
}

.not-allowed {
    cursor: not-allowed\;
}

.grab {
    cursor: grab;
}

.grabbing {
    cursor: grabbing;
}

.all-scroll {
    cursor: all-scroll;
}

.col-resize {
    cursor: col-resize;
}

.row-resize {
    cursor: row-resize;
}

.zoom-in {
    cursor: zoom-in;
}

.zoom-out {
    cursor: zoom-out;
}

/* ////////////////////////////////////////////// */
.car__box-big-line {
    position: relative;
    top: 702px;
    border: 2px solid black;
}

.car__box-min-line {
    width: 500px;
    border: 2px solid black;
    position: relative;
    top: 518px;
}

.car__box-min-line-left {
    transform: rotate(45deg);
    left: -75px;
}

.car__box-min-line-right {
    transform: rotate(-45deg);
    left: 278px;
}

.car__box-min-line-left2 {
    top: 515px;
    transform: rotate(45deg);
    left: 630px;
}

.car__box-min-line-right2 {
    width: 584px;
    top: 480px;
    transform: rotate(-45deg);
    left: 972px;
}