* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header__container {
    width: 100%;
    background-color: #00a6ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header___logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
}

.header__menu {
    display: flex;
    gap: 50px;
    list-style: none;
}

.header__menu li a {
    font-size: 24px;
    line-height: 120%;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.cards__container {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    width: 300px;
    height: 200px;
    background-color: #000000;
    cursor: pointer;
    position: relative;
}

.card__img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.5s;
    position: absolute;
}

.card__text {
    position: absolute;
    inset: 0;
    color: #ff0000;
    font-style: 18px;
    font-weight: 700;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s, transform 0.5s;
}

.card__img,
.card__text {
    transition: transform 0.5s;
}

.card:hover .card__img,
.card:hover .card__text {
    transform: translate(-30px, -30px);
}

.card:hover .card__text {
    opacity: 1;
}